/* Custom styles for Ant Design menu */

.ant-menu.ant-menu-dark {
  background-color: #131921;
}
.ant-menu-dark .ant-menu-item {
  border-radius: 4px !important;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-active,
.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-active:hover{
  border-radius: 4px !important;
}

.ant-menu-dark .ant-menu-item-selected {
  background: linear-gradient(to right, transparent 0%, #252C35 100%) !important;
  border-right: 4px solid #FCAF17;
  border-radius: 4px;
}

.ant-menu-dark .ant-menu-submenu-title:hover,
.ant-menu-dark .ant-menu-item:hover {
  background: linear-gradient(to right, transparent 0%, #252C35 100%) !important;
  border-radius: 4px !important;
}

.ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: white;
}

.ant-menu-dark .ant-menu-item-icon {
  color: #a0a0a0;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon {
  color: white;
}

.ant-menu-inline-collapsed .ant-badge {
  display: none;
}

.item.active {
  border-radius: 4px !important;
  background-color: #13192110;
}

.ant-menu-submenu-title{
  border-radius: 4px !important;
}

.ant-menu-submenu-title .anticon.anticon-right,
.ant-menu-submenu-title .anticon.anticon-down{
  position: absolute !important;
  right: 24px !important;
}
