.root {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: #E3E6E6; 

  .sidebarOpen {
    width: 250px; 
    transition: width 0.3s ease;
    background: #ffffff;
  }
  .sidebarClosed {
    width: 0; 
    transition: width 0.3s ease;
  }

  .outlet {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    margin-top: 30px;
    background-color: #E3E6E6; 

    overflow: auto;
  }

  .sidebarClosed + .outlet {
    margin-left: 0; 
  }

  .toggleButton {
    position: absolute;
    top: 14px;
    left: 10px;
    z-index: 1000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}


.selectWeek {
  :global {
    .ant-select-selector {
      border-radius: unset !important;
    }
  }
}
.searchValue {
  :global {
    .ant-btn {
      background: none !important;
      border: 1px solid #d9d9d9;
      border-radius: unset !important;
    }
    .anticon-search {
      color: #000000 !important;
    }
    .ant-input {
      border-radius: unset !important;
    }
    .ant-input-group-addon {
      border-radius: unset !important;
      background-color: inherit !important;
    }
    .ant-select-selector,
    .ant-picker {
      border-radius: unset !important;
    }
  }
}
.schedule {
  :global {
    .ant-select-selector {
      border-radius: unset !important;
    }
  }
}

.soliderNo {
  :global {
    .ant-table-thead {
      .ant-table-cell {
         background-color: #dbe8fe;
        border-radius: unset !important;
      }
    }
    .ant-pagination{
      display: none !important;
    }
  }
}
.selectHistory{
  :global{
    .ant-select-selector{
       border-radius: unset !important;
    }
  }
}


.weekPlan{
  :global{
    .ant-select-selector{
      border-radius: 0px !important;
    }  
  }
}
